body{
    margin: 0;
    font-family: 'Merriweather', sans-serif;
}

header{
    width: 100%;
    background: #4EA0FF url(img/pattern.png);
    background-size: 30%;
}

.logo{
    width: 18%;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: justify;
}

main, footer, .logo-container{
    width: 1050px;
    margin:auto;
}

.text{
    margin-bottom: 20px;
    color: grey;
    font-size: 18px;
}

.blue-text{
    color:#4EA0FF;
}

#data, .images-caption{
    font-size: 10px;
}

.highlighted-text{
    background-color: yellow;
}

.paragraph{
    margin-top: 20px;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    text-align: left;
}

thead{
    background-color: #20A9E5;
    color: white;
}

.blue{
    background-color: #B1E5F2;
}

.long{
    width: 50%;
}

.footer-images{
    width: 312px;
    height: 208px;
    margin-top: 20px;
    position: relative;
}

.images-text{
    color: white;
    position: absolute;
    font-size: 20px;
    padding: 10px;
    top: 0;
    left: 0;
}
